* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}

.container {
  display: flex;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
}

.sidebar {
  background-color: #00143f;
  width: 10%;
  padding-top: 0.4em;
  color: #fff;
  padding-left: 0.4em;
}

.sidebar img {
  height: 2em;
}

.sidebar-item p {
  padding-top: 0.8em;
}

.sidebar-item {
  text-decoration: none;
  color: #fff;
  transition: 0.8s;
}

.sidebar-item :hover {
  color: #dce123;
}

.main {
  background-color: rgba(226, 222, 222, 0.867);
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4em;
  padding-left: 0.4em;
  color: #00143f;
}

.main img {
  height: 60%;
  padding-top: 2em;
}

.btn-garantia {
  background-color: #00143f;
  color: #fff;
  padding: 0.8em;

  border: none;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 5px;
}
.btn-garantia:hover {
  background-color: #dce123;
  color: #00143f;
}

.container-politica {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-garantia {
  background-color: #fff;
  min-width: 500px;
  min-height: 500px;
  display: flex;
}
